# if 문

In [1]:
x = int(input("Please enter an integer: "))

Please enter an integer: 42

In [2]:
if x < 0 :
    x = 0
    print('Negative changed to zero')
elif x==0 :
    print('Zero')
elif x==1 :
    print('Single')
else :
    print('More')

More

# for 문

In [17]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']

In [18]:
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [19]:
for w in words[:]:  # Loop over a slice copy of the entire list.
    if len(w) > 6:
        words.insert(0, w) #맨앞에 중복시키기

In [20]:
words

['defenestrate', 'cat', 'window', 'defenestrate']

# range() 함수

In [21]:
for i in range(5): #끝값은 포함 안됨!!
    print(i)

0
1
2
3
4

In [38]:
for i in range(5,10): 
    print(i)

5
6
7
8
9

In [28]:
for i in range(0, 10, 3): 
    print(i)

0
3
6
9

In [29]:
for i in range(-10, -100, -30): 
    print(i)

-10
-40
-70

In [30]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [32]:
list(range(5))

[0, 1, 2, 3, 4]

# 루프의 break 와 continue 문, 그리고 else 절

In [36]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else: 
            # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [40]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

# pass 문

In [ ]:
while True :
    pass # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
class MyEmptyClass:
    pass

In [ ]:
def initlog(*args):
    pass

# 함수 정의하기

In [1]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [2]:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

# 람다 표현식

In [3]:
def make_incrementor(n):
    return lambda x: x + n #두 인자의 합을 돌려준다.

In [4]:
f = make_incrementor(42)

In [5]:
f(0)

42

In [6]:
f(1)

43

In [7]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]