In [1]:
import openpyxl

In [10]:
filename = "C:/Users/HaebinLee/Desktop/exercise/stats_104102.xlsx"

In [13]:
book = openpyxl.load_workbook(filename) #book : 여러개의 시트로 구성된 것, 즉 파일.

In [14]:
book

In [15]:
sheet=book.worksheets[0] #북 내의 시트 추출

In [16]:
sheet

In [32]:
data=[]
for row in sheet.rows :
    data.append([
        row[0].value,
        row[9].value
    ]) #시트의 각 행 추출

In [33]:
data

[['시도별 인구 변동 현황 [단위 : 천명]', None],
 [None, 2017],
 ['계', 51778],
 ['서울', 9857],
 ['부산', 3470],
 ['대구', 2475],
 ['인천', 2948],
 ['광주', 1463],
 ['대전', 1502],
 ['울산', 1165],
 ['세종', 280],
 ['경기', 12873],
 ['강원', 1550],
 ['충북', 1594],
 ['충남', 2116],
 ['전북', 1854],
 ['전남', 1896],
 ['경북', 2691],
 ['경남', 3380],
 ['제주', 657]]

In [34]:
del data[0]
del data[1]
del data[2]

In [35]:
data

[[None, 2017],
 ['서울', 9857],
 ['대구', 2475],
 ['인천', 2948],
 ['광주', 1463],
 ['대전', 1502],
 ['울산', 1165],
 ['세종', 280],
 ['경기', 12873],
 ['강원', 1550],
 ['충북', 1594],
 ['충남', 2116],
 ['전북', 1854],
 ['전남', 1896],
 ['경북', 2691],
 ['경남', 3380],
 ['제주', 657]]

In [36]:
del data[0]

In [37]:
data

[['서울', 9857],
 ['대구', 2475],
 ['인천', 2948],
 ['광주', 1463],
 ['대전', 1502],
 ['울산', 1165],
 ['세종', 280],
 ['경기', 12873],
 ['강원', 1550],
 ['충북', 1594],
 ['충남', 2116],
 ['전북', 1854],
 ['전남', 1896],
 ['경북', 2691],
 ['경남', 3380],
 ['제주', 657]]

In [38]:
data = sorted(data,key=lambda x:x[1])

In [39]:
data

[['세종', 280],
 ['제주', 657],
 ['울산', 1165],
 ['광주', 1463],
 ['대전', 1502],
 ['강원', 1550],
 ['충북', 1594],
 ['전북', 1854],
 ['전남', 1896],
 ['충남', 2116],
 ['대구', 2475],
 ['경북', 2691],
 ['인천', 2948],
 ['경남', 3380],
 ['서울', 9857],
 ['경기', 12873]]

In [40]:
for i, a in enumerate(data) : 
    if (i>=5) : break
    print(i+1, a[0], int(a[1]))

1 세종 280
2 제주 657
3 울산 1165
4 광주 1463
5 대전 1502

In [41]:
# 활성화된 시트 추출하기 --- (※2)
sheet = book.active

In [64]:
# 서울을 제외한 인구를 구해서 쓰기 --- (※3)
for i in range(0, 9):
    total = int(sheet[str(chr(i + 66)) + "3"].value)
    seoul = int(sheet[str(chr(i + 66)) + "4"].value)
    output = total - seoul
    print("서울 제외 인구 =", output)
     # 셀에 값 쓰기 --- (※4)
    sheet[str(chr(i + 66)) + "21"] = output
    cell = sheet[str(chr(i + 66)) + "21"]
    # 폰트와 색상, 출력형식 변경해보기 --- (※5)
    cell.font = openpyxl.styles.Font(size=14,color="FF0000")
    cell.number_format = cell.number_format
# 엑셀 파일 저장하기 --- (※6)
filename = "C:/Users/HaebinLee/Desktop/exercise/population.xlsx"
book.save(filename)
print("ok")

서울 제외 인구 = 39565
서울 제외 인구 = 40203
서울 제외 인구 = 40484
서울 제외 인구 = 40753
서울 제외 인구 = 40997
서울 제외 인구 = 41225
서울 제외 인구 = 41507
서울 제외 인구 = 41766
서울 제외 인구 = 41921
ok

In [42]:
total = int(sheet[str(chr(1 + 66)) + "3"].value)

In [43]:
total

50515

In [46]:
str(chr(1 + 66)) + "3"

'C3'

In [54]:
chr(1)

'\x01'

In [55]:
sheet[str(chr(1 + 66)) + "3"].value

50515

In [56]:
total = int(sheet[str(chr(1 + 66)) + "3"].value)

In [58]:
sheet[str(chr(1 + 66)) + "21"] = output

In [60]:
sheet[str(chr(1 + 66)) + "21"].value

41921

In [61]:
cell = sheet[str(chr(1 + 66)) + "21"]

In [63]:
cell.value

41921

In [66]:
import pandas as pd
# 엑셀 파일 열기 --- (※1)
filename = "C:/Users/HaebinLee/Desktop/exercise/stats_104102.xlsx" # 파일 이름
sheet_name = "stats_104102" # 시트 이름
book = pd.read_excel(filename, sheet_name=sheet_name, header=1) # 첫 번째 줄부터 헤더
# 2017년 인구로 정렬 --- (※2)
book = book.sort_values(by=2015, ascending=False)
print(book)

     2009   2010   2011   2012   2013   2014   2015   2016   2017
계   49773  50515  50734  50948  51141  51328  51529  51696  51778
경기  11460  11787  11937  12093  12235  12358  12522  12716  12873
서울  10208  10312  10250  10195  10144  10103  10022   9930   9857
부산   3543   3568   3551   3538   3528   3519   3513   3498   3470
경남   3250   3291   3309   3319   3333   3350   3364   3373   3380
인천   2710   2758   2801   2844   2880   2903   2925   2943   2948
경북   2669   2690   2699   2698   2699   2701   2702   2700   2691
대구   2489   2512   2508   2506   2502   2493   2487   2484   2475
충남   2037   2075   2101   2029   2048   2062   2077   2096   2116
전남   1913   1918   1914   1910   1907   1906   1908   1903   1896
전북   1854   1869   1874   1873   1873   1872   1869   1864   1854
충북   1527   1549   1563   1566   1573   1579   1583   1591   1594
강원   1512   1530   1536   1539   1542   1544   1549   1550   1550
대전   1484   1504   1516   1525   1533   1532   1518   1514   1502
광주   1433   1455   1463   1469   1473   1476   1472   1469   1463
울산   1114   1126   1136   1147   1156   1166   1173   1172   1165
제주    562    571    576    584    593    607    624    641    657
세종      -      -      -    113    122    156    210    243    280

In [67]:
book = book.sort_values(by=2017, ascending=False)
print(book)

     2009   2010   2011   2012   2013   2014   2015   2016   2017
계   49773  50515  50734  50948  51141  51328  51529  51696  51778
경기  11460  11787  11937  12093  12235  12358  12522  12716  12873
서울  10208  10312  10250  10195  10144  10103  10022   9930   9857
부산   3543   3568   3551   3538   3528   3519   3513   3498   3470
경남   3250   3291   3309   3319   3333   3350   3364   3373   3380
인천   2710   2758   2801   2844   2880   2903   2925   2943   2948
경북   2669   2690   2699   2698   2699   2701   2702   2700   2691
대구   2489   2512   2508   2506   2502   2493   2487   2484   2475
충남   2037   2075   2101   2029   2048   2062   2077   2096   2116
전남   1913   1918   1914   1910   1907   1906   1908   1903   1896
전북   1854   1869   1874   1873   1873   1872   1869   1864   1854
충북   1527   1549   1563   1566   1573   1579   1583   1591   1594
강원   1512   1530   1536   1539   1542   1544   1549   1550   1550
대전   1484   1504   1516   1525   1533   1532   1518   1514   1502
광주   1433   1455   1463   1469   1473   1476   1472   1469   1463
울산   1114   1126   1136   1147   1156   1166   1173   1172   1165
제주    562    571    576    584    593    607    624    641    657
세종      -      -      -    113    122    156    210    243    280