In [1]:
#https://m.blog.naver.com/anthouse28/221158976876
#모듈 : 파일 단위로 작성된 프로그램의 기능 단위
#라이브러리 : 관련된 기능을 하는 여러 모듈을 모아놓은 것

#프롬프트에 pip install pandas_datareader

import pandas_datareader as pdr

In [11]:
#('종목코드', '주가 데이터를 읽어올 곳', '시작일', '종료일')
pdr.DataReader('UNVR', 'yahoo', '2018-01-01', '2018-12-08')

                 High        Low       Open      Close   Volume  Adj Close
Date
2018-01-02  31.150000  30.510000  30.980000  30.870001   673600  30.870001
2018-01-03  31.129999  30.730000  30.900000  30.850000   551800  30.850000
2018-01-04  31.160000  30.780001  30.930000  30.920000   547900  30.920000
2018-01-05  31.190001  30.670000  31.190001  30.760000   738200  30.760000
2018-01-08  31.090000  30.389999  30.740000  30.950001   449300  30.950001
2018-01-09  31.480000  31.070000  31.230000  31.370001   714000  31.370001
2018-01-10  31.469999  30.980000  31.309999  31.379999   792800  31.379999
2018-01-11  31.610001  31.350000  31.480000  31.580000   576300  31.580000
2018-01-12  31.750000  31.379999  31.709999  31.650000   688700  31.650000
2018-01-16  31.840000  30.690001  31.700001  31.000000   954800  31.000000
2018-01-17  31.299999  30.750000  31.190001  31.190001   833900  31.190001
2018-01-18  31.270000  30.620001  31.070000  30.940001   652000  30.940001
2018-01-19  31.180000  30.490000  31.059999  30.570000   820400  30.570000
2018-01-22  31.225000  30.430000  30.520000  30.980000   994400  30.980000
2018-01-23  31.110001  30.420000  30.950001  30.980000   502200  30.980000
2018-01-24  31.480000  30.680000  31.070000  30.920000   504800  30.920000
2018-01-25  31.400000  30.750000  31.000000  31.120001   557400  31.120001
2018-01-26  31.379999  30.785000  31.260000  31.059999   379500  31.059999
2018-01-29  30.959999  30.570000  30.959999  30.840000   498800  30.840000
2018-01-30  30.780001  30.250000  30.719999  30.500000   697100  30.500000
2018-01-31  30.629999  29.770000  30.620001  29.860001   675300  29.860001
2018-02-01  30.190001  29.580000  29.719999  29.959999   917900  29.959999
2018-02-02  29.570000  28.500000  29.420000  28.500000  3160600  28.500000
2018-02-05  28.360001  27.389999  28.170000  27.389999  1976800  27.389999
2018-02-06  28.379999  26.620001  27.000000  28.080000  1577300  28.080000
2018-02-07  28.070000  26.809999  27.990000  26.820000  1324400  26.820000
2018-02-08  27.190001  25.959999  26.940001  26.040001   996800  26.040001
2018-02-09  27.215000  25.790001  26.430000  26.920000  1278900  26.920000
2018-02-12  27.290001  26.500000  27.139999  26.860001   793200  26.860001
2018-02-13  28.180000  27.190001  27.209999  27.889999  1174400  27.889999
...               ...        ...        ...        ...      ...        ...
2018-10-25  24.700001  23.980000  24.280001  24.530001  1354700  24.530001
2018-10-26  24.270000  23.570000  24.100000  23.730000  1522500  23.730000
2018-10-29  24.379999  23.180000  24.059999  23.530001  1061300  23.530001
2018-10-30  24.150000  23.250000  23.450001  24.110001  1081900  24.110001
2018-10-31  24.940001  24.370001  24.490000  24.620001   884400  24.620001
2018-11-01  26.030001  24.780001  24.780001  25.980000  1009100  25.980000
2018-11-02  26.208000  25.350000  26.070000  25.670000  1114000  25.670000
2018-11-05  26.040001  25.370001  25.760000  25.879999  2344200  25.879999
2018-11-06  23.670000  20.080000  22.799999  22.200001  9838100  22.200001
2018-11-07  23.379999  21.670000  22.200001  23.049999  3557700  23.049999
2018-11-08  23.570000  22.650000  23.110001  22.870001  1885700  22.870001
2018-11-09  23.040001  22.379999  22.900000  22.850000  1687300  22.850000
2018-11-12  23.150000  22.330000  22.990000  22.420000   985100  22.420000
2018-11-13  22.750000  22.160000  22.400000  22.280001   874400  22.280001
2018-11-14  23.450001  22.360001  22.549999  23.020000  1520400  23.020000
2018-11-15  23.325001  22.200001  22.840000  23.100000  1703500  23.100000
2018-11-16  23.260000  22.790001  22.969999  23.139999  1023700  23.139999
2018-11-19  23.120001  22.500000  23.000000  22.500000  1154500  22.500000
2018-11-20  22.230000  21.450001  22.059999  21.830000  1287600  21.830000
2018-11-21  22.590000  21.934999  22.020000  22.100000  1001700  22.100000
2018-11-23  22.299999  21.641001  21.740000  21.980000   554700  21.980000
2018-11-26  22.450001  21.959999  22.170000  22.250000  1024000  22.250000
2018-11-27  22.090000  21.334999  21.860001  21.410000  1154900  21.410000
2018-11-28  21.752001  21.100000  21.370001  21.549999  1852700  21.549999
2018-11-29  21.719999  21.135000  21.549999  21.570000  1246300  21.570000
2018-11-30  21.745001  21.170000  21.500000  21.660000  1006600  21.660000
2018-12-03  22.379999  21.240000  22.170000  21.480000  1444900  21.480000
2018-12-04  21.680000  20.340000  21.549999  20.389999  1255000  20.389999
2018-12-06  20.176001  19.469999  19.969999  19.889999  1674800  19.889999
2018-12-07  20.170000  19.340000  20.049999  19.500000  1352000  19.500000

[236 rows x 6 columns]

In [25]:
#https://wikidocs.net/12 
#먼저 기본 자료형과 익숙해지기

#정수형(int)
a = 123
a = -178
a = 0

#실수형
a = 1.2
a = -3.4
a = 4.24E10 #4.24*10^10
a = 4.24e-10 #4.24*10^-10

#8진수와 16진수
#8진수(Octal)를 만들기 위해서는 숫자가 0o 또는 0O(숫자 0 + 알파벳 소문자 o 또는 대문자 O)로 시작하면 된다.
a = 0o177
a = 0O177
#16진수(Hexadecimal)를 만들기 위해서는 0x로 시작하면 된다.
a = 0x8ff
b = 0xABC

#제곱 **
a = 3
b = 3
a**b

#나눗셈 후 몫 반환 //
7/4
7//4

#전에 미운코딩새끼에서 한 것이 생각나 넘어가도록 한다.

1

In [27]:
#판다스에는 두 종류의 자료구조가 있다. Series, DataFrame

# Series : 인덱스를 가지고 있는 1차원 배열 구조

import pandas as pd
my_series = pd.Series([10,20,30]) #리스트 형태의 자료구조를 가진 데이터를 pd.Series함수에 넣어 my_series라는 변수에 바인딩(저장)
my_series

0    10
1    20
2    30
dtype: int64

In [35]:
#함수의 입력값을 파라미터라고 하는데 함수별로 파라미터에 어떤 타입의 자료형이 들어가야하는지 공식 문서에서 참고
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html
#array-like : 리스트, 튜플 등
my_series[0] #인덱스로 접근

my_portfolio = pd.Series([10,20,30], index = ['SAMSUNG','NAVER','LG'])
my_portfolio['LG']
len(my_portfolio) #데이터의 사이즈

3

In [38]:
#최소, 최대 찾기
my_portfolio.min()
my_portfolio.max()

30

In [41]:
#Where 명령어
my_portfolio.where(my_portfolio > 15)

#NaN값 제거하기
my_portfolio.where(my_portfolio > 15).dropna()

NAVER    20.0
LG       30.0
dtype: float64

In [48]:
#포트폴리오에서 가장 많이 보유하고 있는 종목과 그 보유 수량을 출력하려면 어떻게 해야 할까요? 
my_portfolio.where(my_portfolio == my_portfolio.max()).dropna()

LG    30.0
dtype: float64

In [50]:
my_portfolio.sort_values(ascending = False).head(1) #내림차순 정렬 후 앞쪽부터 1개의 데이터를 인덱스와 같이 출력

LG    30
dtype: int64

In [52]:
#시리즈끼리의 더하기나 빼기
buy_stock = pd.Series([20,20,30], index = ['SAMSUNG','NAVER','KAKAO'])
buy_stock

SAMSUNG    20
NAVER      20
KAKAO      30
dtype: int64

In [54]:
my_portfolio + buy_stock #덧셈에 NaN은 NaN이니께

KAKAO       NaN
LG          NaN
NAVER      40.0
SAMSUNG    30.0
dtype: float64

In [56]:
my_portfolio.add(buy_stock) #문제를 해결하기 위해 pandas.Series.add 함수의 documentation 을 찾아봅시다. 
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.add.html
#Parameters에 fill_value발견

KAKAO       NaN
LG          NaN
NAVER      40.0
SAMSUNG    30.0
dtype: float64

In [57]:
new_portfolio = my_portfolio.add(buy_stock, fill_value=0)
new_portfolio #근데 실수형으로 바뀜

KAKAO      30.0
LG         30.0
NAVER      40.0
SAMSUNG    30.0
dtype: float64

In [59]:
new_portfolio = new_portfolio.astype('int64')
new_portfolio

KAKAO      30
LG         30
NAVER      40
SAMSUNG    30
dtype: int64